.App {
    text-align: center;
}

.header {
    background-color: white;
}

.custom-dropdown {
    border: none;
    background-color: white;
}

.custom-dropdown:focus,
input:focus {
    outline: none;
}

.header-center {
    display: flex;
    align-self: center;
    font-size: 20px;
}

.header-down-block {
    background-color: #f5f5f5;
    color: #58595b;
}

.responsive-header-down {
    display: none;
}

/* .header-down {
    background-color: #f5f5f5;
    color: #58595b;
} */

.header-down-options {
    min-width: 140px;
    margin-right: 5px;
    padding: 0 10px 10px 5px;
}

.filters {
    padding: 15px;
    display: flex;
    flex-direction: column;
    text-align: left;
}

.input-up-text {
    font-size: 13px;
    color: #9b9b9b;
}

.input-text {
    border: none;
    border-bottom: 2px solid #9b9b9b;
}

.btn-apply {
    height: 40px;
    width: 50%;
    border: none;
    margin: 5px 10px 0 10px;
    border-radius: 5px;
    background-color: #e71c24;
    color: white;
}

.btn-next {
    height: 40px;
    border: none;
    margin: 5px 10px 0 10px;
    border-radius: 5px;
    background-color: #e71c24;
    color: white;
    margin-right: 30px;
}

.btn-apply:active {
    border: none;
}

.btn-reset {
    height: 40px;
    width: 50%;
    border: 1px solid #e71c24;
    margin: 5px 10px 0 10px;
    border-radius: 5px;
    color: #e71c24;
    background-color: white;
}

.btn-previous {
    height: 40px;
    margin: 5px 10px 0 10px;
    border-radius: 5px;
    color: #e71c24;
    background-color: #dfdcdc;
    border: none;
    margin-left: 30px;
}

.filter-down-space {
    padding: 5px;
}

.table {
    font-size: 14px;
    overflow-x: auto;
    overflow-y: hidden;
}

.table-body {
    min-width: 1000px;
    /* overflow-x: auto; */
}

.table-head {
    height: 50px;
    align-items: center;
    border-top: 1px solid #ebeaea;
}

.table-head-text {
    padding-left: 5%;
    padding-right: 5%;
}

.table-head-boxes {
    width: 11%;
}

.table-column {
    height: 66px;
    border-top: 2px solid #dfdcdc;
}

.table-column:hover {
    background-color: #dfdcdc;
}

.table-column-block {
    width: 11%;
}

.page-count-box {
    height: 30px;
    width: 30px;
    font-size: 20px;
    margin: 3px;
    border-radius: 4px;
}

/* .page-count-box:hover {
  background-color: #dfdcdc;
} */

.footer-pages {
    padding: 20px 16px;
    background-color: white;
}

@media screen and (max-width: 1000px) {
    .table-column {
        background-color: #ebeaea;
    }

    .header-down {
        overflow-x: auto;
        overflow-y: hidden;
        /* padding: 0%; */
    }

    /* .header-down-options {
        padding: 0%;
    } */
}

.first-column {
    height: 66px;
}

@media screen and (max-width: 775px) {
    /* .table-column {
        background-color: #ebeaea;
    } */

    .first-column {
        background-color: white;
        position: sticky;
        width: 131px;
        left: 0px;
        border-top: 1px solid #dfdcdc;
    }
    .table-body {
        position: relative;
    }

    .header-center {
        display: none;
    }

    .responsive-header-down {
        display: flex;
        justify-content: space-between;
        padding: 15px;
        padding-top: 5px;
        font-weight: bold;
    }

    .filter-tag {
        display: none;
    }
}

.mobile-filter-page {
    height: 90vh;
    width: 100vw;
}

.mobile-filters {
    height: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
